body {
    background-color: lightblue;
  }

  h1 {
    color: orange;
    margin-left: 350px;
  }

  img {
    background: #eaeaed;
    border: 1px solid #9799a7;
    float: right;
    margin: 8px 0 0 20px;
    padding: 4px;
  }